* {
  box-sizing: border-box;
}

.jokenpo {
  background: linear-gradient(to right, #e4d9d6, #f7b733);
}

#jokenpo {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rules {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  background: linear-gradient(to right, #f12711, #f5af19);
  height: 205%;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  padding: 20px;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  text-align: center;
  border-radius: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

.buttons ul li {
  display: inline-block;
  padding-left: 20px;
}

#pedra {
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px red;
  text-align: center;
  align-items: center;
  background: #000;
}

#papel {
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px blue;
  text-align: center;
  align-items: center;
  background: #000;
}

#tesoura {
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px green;
  text-align: center;
  align-items: center;
  background: #000;
}

.game {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background: url('./images/game.png') no-repeat;
  background-position: center;
  height: 211px;
  border-radius: 10px;
}

.game ul li {
  margin-top: 95px;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #f12711;
}

@media screen and (max-width: 600px) {
  .rules {
    font-size: 20px;
  }

  .buttons {
    padding: 0;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: linear-gradient(to right, #3798b1, #edba6d);
    text-align: center;
    border-radius: 10px;
  }
}
